#boxSketch {
    position: relative;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.summary {
    text-align: center;
    word-wrap: break-word;
    position: relative;
    padding: 2px;
    font-family: 'Montserrat';
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 4px;
    line-height: 28px;
}

#type {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 5px;
    width: 10em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tab {
    margin-left: 20px;
    display: inline-block;
}

#name {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 16px;
}

li {
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    font-size: 16px;
}

.snapshot {
    width: 60%;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}