.navbar {
    position: fixed;
    height: 100%;
    width: 16.7%;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
}

.logos {
    padding: 40%;
    top: 32%;
    position: absolute;
}

img {
    width: 25px;
    position: relative;
}

#initials {
    font-family: 'Playfair Display', serif;
    font-size: 3rem !important;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 30%;
}

.links {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 55%;
}

.link {
    text-transform: uppercase;
    color: black;
    font-size: 40;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
}

/* #highlight1 {
    display: inline;
    animation-name: 'animation1';
    animation-duration: '1s';
} */

.home {
    display: inline;
    -webkit-animation-name: animation1;
    animation-name: animation1;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    /* background-color: rgba(110, 68, 255, 0.7) */
}

@keyframes animation1 {
    from {
        background-color: #fff;
        width: 0%;
        white-space: nowrap;
    }
    to {
        background-color: rgba(110, 68, 255, 0.7);
        width: 25%;
    }
}

.experience {

}

.skills {

}

