#topbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
}

.initials {
    font-family: 'Playfair Display', serif;
    font-size: 3rem !important;
    text-align: center;
    vertical-align: middle;
}

.menuIcon {
    vertical-align: middle;

}

