

.sketch{
    height: 100vh;
    position: absolute;
    width: 100%;
} 

.bio {
    margin-top: 10%;
    padding: 5%;
}

h2 {
    font-family: 'MuseoModerno', cursive;
}

p {
    font-size: 24px;
    font-family: 'PT Sans';
    padding-top: 8px;
    padding-bottom: 6px;
}

.first {
    text-align: left;
}

.second{
    text-align: right;
}

#nyu {
    color: #6E44FF;
    font-weight: 600;
}

#cs {
    /* text-decoration: underline; SOME ANIMATION INSTEAD*/
    font-style: italic;
}

#skills {
    color: #6E44FF;    
}

#art {
    color: #6E44FF;    
}