.desktop-navbar {
    position: fixed;
    height: 100%;
    width: 16.7%;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
}

#desktop-initials {
    font-family: 'Playfair Display', serif;
    font-size: 3rem !important;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 32%;
}

/* @media only screen and (max-height: 480px) {
    #desktop-initials {
        top: 25%;
    }
}

@media only screen and (max-height: 350px) {
    #desktop-initials {
        top: 20%;
    }
} */

.desktop-logos {
    padding: 0 20%;
    top: 44%;
    position: absolute;
    margin-left: 15%;
    text-align: center;
}

.desktop-logos img {
    width: 25px;
    margin: 5px;
    text-align: center;
}

.desktop-divider {
    width: 80%;
    position: absolute;
    border-top: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    top: 50%;
}

.desktop-links {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 55%;
}

.desktop-link {
    text-transform: uppercase;
    color: black;
    font-size: 40;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    cursor: pointer;
}

.animation {
    display: inline;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

.home {
    -webkit-animation-name: animation1;
    animation-name: animation1;
}

@keyframes animation1 {
    from {
        background-color: #fff;
        width: 0%;
        white-space: nowrap;
    }
    to {
        background-color: rgba(110, 68, 255, 0.6);
        width: 100%;       
        /* width is uselss bc of inline */
    }
}

.experience {
    -webkit-animation-name: animation2;
    animation-name: animation2;
}

@keyframes animation2 {
    from {
        background-color: #fff;
        width: 0%;
        white-space: nowrap;
    }
    to {
        background-color: #d3edff;
        width: 60%;
    }
}

.skills {
    -webkit-animation-name: animation3;
    animation-name: animation3;
}

@keyframes animation3 {
    from {
        background-color: #fff;
    }
    to {
        background-color: rgba(141, 244, 244, 1);
    }
}

.academics {
    -webkit-animation-name: animation4;
    animation-name: animation4;
}

@keyframes animation4 {
    from {
        background-color: #fff;
    }
    to {
        background-color: rgba(186, 181, 255, 1);
    }
}

