#boxSketch {
    position: absolute;
    padding-top: 30px;
    padding-right: 30px;
}

.summary {
    background-color: rgba(246, 223, 186);
    display: inline;
    word-wrap: break-word;
    position: relative;
    padding: 2px;
}

#type {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid black;
    padding: 3px;
    width: 10em;
    margin-bottom: 5px;
}

h3 {
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    font-family: 'Montserrat';
    /* font-weight: 600; */
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 4px;
}

li {
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    font-size: 16px;
}

.snapshot {
    width: 80%;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}